


/* App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
